.posts-list thead::after {
    content: "";
    display: table-row;
    height: 1rem;
}

.posts-list tbody::before {
    content: "";
    display: table-row;
    height: 1rem;
    @apply border-t-2 border-term-normal border-dashed;
}

/* hide first col in mobile */
.posts-list td:first-child,
.posts-list th:first-child {
    @apply hidden sm:table-cell;
}

.posts-list a {
    @apply text-term-blue underline;
}

.posts-list .mobile-a {
    @apply sm:text-inherit sm:no-underline;
}