@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.cursor {
    animation: blink 1s step-end infinite;
    height: 24px;
    @apply bg-black dark:bg-white align-top inline-block w-3 absolute;
}
